.header {
    padding:  24px 0;
}
.header__container {
    max-width: 1240px;
    padding: 0 30px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
}
.header__logo {
    margin-right: 69px;
}
.header__search {
    flex-grow: 1;
    margin-right: auto;
}
.search {
    position: relative;
    max-width: 692px;
    height: 36px;
}
.search__search_input {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: none;
    padding-left: 16px;
    padding-right: 46px;
    font-weight: 300;
    font-size: 14px;
    text-transform: capitalize;
}
.search__search_input::-webkit-search-cancel-button {
    display: none;
}
.search__btn {
    position: absolute;
    right: 16px;
    bottom: 6px;
    line-height: 0;
    z-index: 2;
}
.header__heart {
    color: #fff;
    transition: color 0.3s ease-in-out;
}
.header__heart:hover {
    color: tomato
}

@media (max-width: 1024px) {
    .header__container {
        padding: 0 22px;
    }
    .header__search {
        margin-right: 90px;
    }
}

@media (max-width: 768px) {
    .header__container {
        padding: 0 15px;
        max-width: 610px;
    }
    .header__logo {
        margin-right: 12px;
    }
    .header__search {
        margin-right: 0;
    }
}

@media (max-width: 560px) {
    .header {
        padding-top: 20px;
    }
    .header__container {
        flex-wrap: wrap;
        gap: 17px;
    }
    .header__search {
        order: 1;
        flex-basis: 100%;
    }
}