.player_progress-input::-webkit-slider-runnable-track{
    background-color:  #1E5A32;
    border-radius: 20px;
    border: none;
    height: 6px;
    transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}
.player_progress-input::-webkit-slider-thumb {
    appearance: none;
    -webkit-appearance: none;
    margin-top: -9px;
    width: 12px;
    height: 24px;
    background: #FFFFFF;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}
.player_progress-input:hover::-webkit-slider-runnable-track,
.player_progress-input:active::-webkit-slider-runnable-track {
    background-color: #E6A93F;
}
.player_progress-input:hover::-webkit-slider-thumb,
.player_progress-input:active::-webkit-slider-thumb
{
    background-color: #1E5A32;
}
.player__volume-input::-webkit-slider-thumb{
    appearance: none;
    -webkit-appearance: none;
    width: 12px;
    height: 24px;
    background: #FFFFFF;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}