.player {
    position: fixed;
    left: 0;
    right: 0;
    bottom: -100%;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(6px);
    border-radius: 20px;
    max-width: 1228px;
    margin:0 auto;
    transition: bottom 0.7s ease-in-out;
}
.player_active {
    bottom: 26px;
}
.player__container {
    padding: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr 3fr 1fr;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.player__info_title {
    font-weight: 600;
    color: #000000;
}
.player__info_author {
    font-weight: 300;
    font-size: 14px;
}
.player__controller {
    display: flex;
    align-items: center;
    gap: 15px;
}

.player__icon {
    display: block;
    width: 24px;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
}
.player__icon_stop {
    background-image: url('../img//Stop.svg');
}
.player__icon_prev {
    background-image: url('../img/prev.svg');
}
.player__icon_pause {
    background-image: url('../img/Pause.svg');
}
.player__icon_play {
    background-image: url('../img/play.svg');
}
.player__icon_next {
    background-image: url('../img/next.svg');
}
.player__icon_like {
    background-image: url('../img/Favorite.svg');
}

.player__progress-wrap {
    display: flex;
    align-items: center;
    gap: 16px;
    padding-right: 10px;
}
.player__progress {
    flex-grow: 1;
    max-width: 487px;
}
.player_progress-input {
    width: 100%;
    padding: 9px 0;
    cursor: pointer;
    background-color: transparent;
    appearance: none;
    -webkit-appearance: none;
}


.player__time {
    font-weight: 400;
    font-size: 14px;
    display: flex;
    gap: 4px;
    padding-bottom:  5px;
}

.player__volume-wrap {
    display: flex;
    align-items: center;
    gap: 10px;
}
.player__volume {
    width: 146px;
}
.player__volume-input {
    background-image: url('../img/volume.svg');
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    appearance: none;
    -webkit-appearance: none;
    height: 24px;
    width: 100%;
    cursor: pointer;
}

.player__icon {
    margin-bottom: 4px;
}
.player__icon_mute {
    background-image: url('../img/VolumeUp.svg');
}
.player__icon_mute-off {
    background-image: url('../img/VolumeOff.svg');
}


@media (max-width: 1024px){
    .player__container {
        grid-template-columns: 1fr 1fr 2fr 1fr;
    }
}

@media (max-width: 968px){
    .player {
        left: 34px;
        right: 34px;
        border-radius: 30px;
    }

    .player__container {
        grid-template-columns: 1fr 1fr 1fr;
        padding: 22px 60px;
        gap: 27px 20px;
    }
    .player__progress-wrap {
        order: 1;
        grid-column: 1 / -1;
    }
    .player__progress {
        flex-grow: 1;
        max-width: 100%;
    }
    .player__volume-wrap {
        justify-content: end;
    }
}

@media (max-width: 740px){
    .player {
        border-radius: 30px 30px 0 0 ;
    }
    .player_active {
        bottom: 0;
    }
}

@media (max-width: 695px) {
    .player__container {
        grid-template-columns: 1fr 1fr;
        gap: 27px 20px;
    }
    .player__volume-wrap {
       display: none;
    }
    .player__controller {
        justify-self: end;
    }
}


@media (max-width: 560px) {
    .player {
        left: 0;
        right: 0;
    }
}

@media (max-width: 445px) {
    .player__container {
        grid-template-columns: 1fr;
        justify-content: center;
        text-align: center;
        gap: 16px;
        padding: 16px;
    }
    .player__controller {
        justify-self: center;
    }
    .player {
        left: 0;
        right: 0;
    }
    .player__progress-wrap {
        padding-right: 0;
    }
}