.track {
    padding: 6px;
    background-color: transparent;
    border: 2px solid transparent;
    border-radius: 20px;
}
.track__poster {
    display: block;
    border-radius: 12px 12px 0px 0px;
    line-height: 0;
}
.track__img-wrap {
    position: relative;
    background-color: #FFFFFF;
    border-radius: 12px 12px 0px 0px;
}

.track_active{
    background-color: rgba(255, 255, 255, 0.5);
    border-color: #FFFFFF;
    transition: background-color .3s ease-in-out;
    border-radius: 20px;
}

.track__img-wrap::after {
    content: ''; /*обязательно для псевдоэлементов*/
    display: block;
    background-color: rgba(255, 255, 255, 0.8);
    width: 36px;
    height: 36px;
    border-radius: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotateY(90deg);
    background-image: url('../img/play.svg');
     background-repeat: no-repeat;
     background-position: center;
    opacity: 0;
    transition-property: transform, opacity;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
}

.track:hover .track__img-wrap::after,
.track:focus .track__img-wrap::after {
    opacity: 1;
    transform: translate(-50%, -50%) rotateY(0);
}
.track:active .track__img-wrap::after {
    transform: translate(-50%, -50%) rotateY(0) scale(1.3);
    opacity: 1;
}
.track_active .track__img-wrap::after {
    transform: translate(-50%, -50%) rotateY(0);
    background-image: url('../img/Pause.svg');
    transition-property: background-color;
    opacity: 1;
}
.track_active:hover .track__img-wrap::after {
    background-color: #FFFFFF;
}

.track__info {
    Height: 70px;
    text-align: left ;
    padding: 8px 14px;
    background-color: #FFFFFF;
    border-radius: 0px 0px 12px 12px;
    overflow: auto;

}

.track__info_title{
    margin-bottom: 6px;
    font-weight: 600;
    color: #000000
}
.track__info_author {
    font-weight: 300;
    font-size: 14px;
    color: #000000;
}


@media (max-width: 560px) {
    .track {
        padding: 3px;
        border-width: 1px;
        border-radius: 14px;
    }
    .track__info {
        padding: 8px 8px;
        Height: 51px;
    }
    .track__info_title{
        margin-bottom: 4px;
        font-size: 14px;
    }
    .track__info_author {
        font-size: 12px;
    }
}